
<section>
  <br>
  <div class="container">
    <div class="col-md-4"style="margin-top:9px">
      <a href="/nosotros"class="fB"style="text-decoration:none;color:#3D3D3D;letter-spacing:0.1em"><b style="font-size:11px;">NOSOTROS</b></a>
    </div>
    <div class="col-md-6">
      <h4 class="nD"><b style="font-size:18px;color:#3D3D3D">Subscríbete a nuestro newsletter, recibe nuestras noticias.</b></h4>
    </div>
    <div class="col-md-2">
      <h4 class="nD"><b style="font-size:18px;color:#3D3D3D;margin-left:-50px">Síguenos</b></h4>
    </div>
    <div class="col-md-4"style="margin-top:3px">
      <a href="/inmobiliaria"class="fB"style="text-decoration:none;color:#3D3D3D;letter-spacing:0.1em"><b style="font-size:11px;">¿BUSCAS UNA PROPIEDAD?</b></a>
    </div>
    <div class="col-md-5">
      <div class="input-group">
        <input type="text" class="form-control fL" placeholder="Escribe aquí tu correo electrónico"style="background-color:transparent;border-color:white;box-shadow:none;font-size:14px;color:#979797">
        <span class="input-group-btn">
          <button class="btn" type="button"style="background-color:rgb(255,180,0);color:white"><b class="fB" style="letter-spacing:2px;font-size:11px">ENVIAR</b></button>
        </span>
      </div>
      <br><hr style="background-color:#000000;height:1px;margin-top:-21px">
    </div>
    <div class="col-md-3">
      <center><ul class="list-inline">
        <li>
          <a href=""><img src="/static/images/facebook.png"style="width:30px"/></a>
        </li>
        <li>
          <a href=""><img src="/static/images/p.png"style="width:30px"/></a>
        </li>
        <li>
          <a href=""><img src="/static/images/insta.png"style="width:30px"/></a>
        </li>
        <li>
          <a href=""><img src="/static/images/in.png"style="width:30px"/></a>
        </li>
      </ul></center>
    </div>
    <div class="col-md-4"style="margin-top:-18px">
      <a href="/constructora"class="fB"style="text-decoration:none;color:#3D3D3D;letter-spacing:0.1em"><b style="font-size:11px;">CONSTRUCTORA</b></a>
    </div>
    <div class="col-md-4">
      <p class="fL"style="line-height:13px;font-size:11px;color:#3D3D3D">Tus datos no serán compartidos, puedes darte de baja en cualquier momento</p>
    </div>
    <div class="col-md-4">
      <p style="font-size:11px;color:rgb(77,77,77);margin-left:140px">@2016 Montera. Todos los derechos reservados</p>
    </div>
    <div class="col-md-12"style="margin-top:-22px">
      <a href="/blog"class="fB"style="text-decoration:none;color:#3D3D3D;letter-spacing:0.1em"><b style="font-size:11px;">BLOG</b></a>
    </div>
    <div class="col-md-12" style="margin-top:10px">
      <p><a href="/contacto"class="fB"style="text-decoration:none;color:#3D3D3D;letter-spacing:0.1em"><b style="font-size:11px;">CONTACTO</b></a></p>
      <p class="fL"style="font-size:11px;color:#3D3D3D">(+52) 81 8020 65475<br>INFO@MONTERA.MX</p>
    </div>
  </div>
</section>
