
<section>
  <br>
  <div class="container">
    <div class="col-md-4"style="margin-top:9px">
      <a href="/nosotros"class="fB"style="text-decoration:none;color:rgb(77,77,77)"><b style="font-size:11px">NOSOTROS</b></a>
    </div>
    <div class="col-md-6">
      <h4 class="nD"style="color:#000000;"><b style="font-size:18px;color:rgb(77,77,77)">Subscríbete a nuestro newsletter, recibe nuestras noticias.</b></h4>
    </div>
    <div class="col-md-2">
      <h4 class="nD"style="color:#000000"><b style="font-size:18px;color:rgb(77,77,77)">Síguenos</b></h4>
    </div>
    <div class="col-md-4"style="margin-top:3px">
      <a href="/inmobiliaria"class="fB"style="text-decoration:none;color:rgb(77,77,77)"><b style="font-size:11px">¿BUSCAS UNA PROPIEDAD?</b></a>
    </div>
    <div class="col-md-5">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Escribe aquí tu correo electrónico"style="background-color:transparent;border-color:white;box-shadow:none">
        <span class="input-group-btn">
          <button class="btn" type="button"style="background-color:rgb(255,180,0);color:white"><b style="letter-spacing:2px;font-size:14px">ENVIAR</b></button>
        </span>
      </div>
      <br><hr style="background-color:#000000;height:1px;margin-top:-21px">
    </div>
    <div class="col-md-3">
      <center><ul class="list-inline">
        <li>
          <a href=""><img src="/static/images/facebook.png"style="width:30px"/></a>
        </li>
        <li>
          <a href=""><img src="/static/images/p.png"style="width:35px"/></a>
        </li>
        <li>
          <a href=""><img src="/static/images/insta.png"style="width:35px"/></a>
        </li>
        <li>
          <a href=""><img src="/static/images/in.png"style="width:35px"/></a>
        </li>
      </ul></center>
    </div>
    <div class="col-md-4"style="margin-top:-18px">
      <a href="/constructora"class="fB"style="text-decoration:none;color:#000000"><b style="font-size:11px;color:rgb(77,77,77)">CONSTRUCTORA</b></a>
    </div>
    <div class="col-md-8">
      <p style="font-size:11px;color:rgb(77,77,77)">Tus datos no serán compartidos, puedes darte de baja en cualquier momento</p>
    </div>
    <div class="col-md-12"style="margin-top:-12px">
      <a href="/blog"class="fB"style="text-decoration:none;color:#000000"><b style="font-size:11px;color:rgb(77,77,77)">BLOG</b></a>
    </div>
    <div class="col-md-12" style="margin-top:17px">
      <p><a href="/contacto"class="fB"style="text-decoration:none;color:#000000"><b style="font-size:11px;color:rgb(77,77,77)">CONTACTO</b></a></p>
      <p class="fL"style="font-size:11px;color:rgb(77,77,77)">(+52) 81 8020 65475<br>INFO@MONTERA.MX</p>
    </div>
  </div>
</section>
