{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH inmuebles #}
{# This page can use any data from http:localhost:2000/cms/#/form/inmuebles/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this inmuebles's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
 <section style="margin-top:-19px;background-color:#ffffff;">
   <div class="container" style="padding:0px">
     <div class="col-md-4"style="background-color:#ffffff">
       <div class="input-group"style="border-right-color:#a6a6a6;border-left-color:#a6a6a6;margin-top:8px;margin-bottom:5px">
         <input type="text" class="form-control" placeholder="En que casa quieres vivir? "style="color:#3D3D3D;font-size:14px;font-family:formularBold;border-radius:2px;background-color:#ffffff;height:35px;border-color:#a6a6a6;box-shadow:none;border-right-color:transparent">
         <span class="input-group-btn">
           <button class="btn " type="button"style="border-radius:2px;background-color:transparent;border-color:#a6a6a6;height:35px;border-left-color:transparent"><i class="glyphicon glyphicon-search"style="color:#a6a6a6"></i></button>
         </span>
       </div>
     </div>
     <div class="col-md-8"style="margin-top:7px;padding:5px">
        <div class="pull-right">
         <button class="btn fB" type="submit"style=";border-radius:2px;background-color:#ffffff;height:35px;font-size:16px;border-color:#a6a6a6;font-size:12px;margin-top:-3px"><img style="height: 25px;margin-top:-3px" src="/static/images/carta.svg"> COMPARTIR</button>
         <button class="btn fB" type="submit"style=";border-radius:2px;background-color:#ffffff;height:35px;font-size:16px;border-color:#a6a6a6;font-size:12px;width:120px;margin-top:-3px;"><img style="height: 25px;margin-top:-3px" src="/static/images/impresora.svg"> IMPRIMIR</button>
         <button class="btn fB" type="submit"style=";border-radius:2px;background-color:#ffffff;height:35px;font-size:16px;border-color:#a6a6a6;font-size:12px;width:120px;margin-top:-3px"><img style="height: 25px;margin-top:-3px" src="/static/images/pin.svg"> GUARDAR</button>
         </div>
     </div>
   </div>
 </section>
 <section style="background-color:#f2f2f2">
   <div class="container" style="padding:0px;">
     <div class="col-md-5"style="margin-top:35px;margin-bottom:35px">
       <p class="nD"style="font-size:35pt;color:#3D3D3D">{{item.name}}</p>
       <p class="fL"style="font-size:14pt;margin-top:-10px;color:#3D3D3D">[[{{item.precio}}|currency]]</p>
       <hr style="border-color: rgb(223, 223, 223);">
       <span style="font-family:formularBold;letter-spacing:0.2em;font-size:11px;color:#3D3D3D">CONSTRUCCION 2.500m2<br>
       TERRENO 500m2</span><br><br><br>
       <div class="col-md-6" style="font-family:formularLight;padding-left:0px;font-size:11px;color:#000000">
         Plantas: {{item.plantas}}<br>
         Medios Baños: {{item.banos}}<br>
         Cochera: {{item.cocheras}}<br>
         Terraza: {{item.terraza}}
       </div>
       <div class="col-md-6"  style="font-family:formularLight;padding-left:0px;font-size:11px;color:#000000">
         Colonia: {{item.colonia}}<br>
         Municipio:<br>
         Alberca<br>
       </div>
       <div class="col-md-12"  style="font-family:formularLight;padding-left:0px">
         <hr style="border-color: rgb(223, 223, 223);">
         <p class="fL"style="font-size:14px;line-height:22px;color:#000000">{{ item.descripcion }}</p>
      </div>
        <div class="col-md-12"style="background-color:#ffffff;margin-top:30px;box-shadow: 0px 0px 21px rgba(3, 3, 3, 0.15)">
          <h3 class="fB"style="font-size:14px;color:#3D3D3D">Solicitar más información</h3>
          <h4 class="fL"style="font-size:14px;color:#3D3D3D">Antonio Cuellar +52(81) 8020 6375</h4>
          <br>
          <input type="text" class="form-control fL" placeholder="Nombre completo"style="background-color:#ffffff;height:35px;box-shadow:none;color:ABB4BE;font-size:11px">
          <br>
          <input type="text" class="form-control fL" placeholder="Correo Electrónico"style="background-color:#ffffff;height:35px;box-shadow:none;color:ABB4BE;font-size:11px">
          <br>
          <textarea class="form-control fL" style="background-color:transparent;color:ABB4BE;font-size:11px" rows="5" id="comment"placeholder="Escribe tu mensaje"></textarea>
          <br>
          <button class="btn" type="button"style="background-color:#F9BE00;color:#000000;width:25%;margin-bottom:15px"><b style="letter-spacing:0.2em;font-size:11px;color:#FFFFFF">ENVIAR</b></button>
        </div>
     </div>
     <div class="col-md-7"style="margin-top:0px;margin-bottom:35px" ng-init="imageView ='{{item.galleria[0].url}}'">
        <img ng-src="[[imageView]]" style="width:100%;height:467px">
        <div style="padding: 10px;background-color: white;height: 150px">
           {% for image in item.galleria| slice(0,3)%}
            <div class="col-md-4">
               <a ng-click="imageView = '{{image.url}}'"><img src="{{image.url}}" style="width:100%"></a>
            </div>
            {% endfor %}
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.6273551922777!2d-100.39389028516953!3d25.716759316736084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866296ff79179727%3A0x8558218e92f06ada!2sJuan+E.+L%C3%B3pez+2800%2C+Cumbres+4%C2%BA.+Sector+Secc+C%2C+64619+Monterrey%2C+N.L.!5e0!3m2!1ses!2smx!4v1464673798515" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
     </div>
   </div>
   <div class="container">
     <div class="col-md-12"style="margin-top:15px">
       <hr style="background-color:#cccccc;height:1px">
       <h5 class="fB" style="font-size:11px;letter-spacing:0.2em;color:#3D3D3D">VISTAS RECIENTEMENTE</h5>
     </div>
     <div class="col-md-4"style="margin-bottom:20px">
       <img src="{{item.galleria[0].url}}"style="width:100%;height:300px;"/>
     </div>
     <div class="col-md-4">
       <img src="{{item.galleria[0].url}}"style="width:100%;height:300px;"/>
     </div>
     <div class="col-md-4">
       <img src="{{item.galleria[0].url}}"style="width:100%;height:300px;"/>
     </div>
   </div>
 </section>
{% endblock %}
