{% extends "templates/partials/base.html" %}

   {% block content %}
   <div style="background-color:#f2f2f2;">
   <section style="background-color:#f2f2f2;margin-top:-20px">
     <br><br>
     <div class="container">
       <div class="col-md-12">
         <img src="http://i.ytimg.com/vi/pliCH_nLQdU/maxresdefault.jpg"style="width:100%"/>
       </div>
     <br><br>
     <div class="col-md-12">
       <br><br>
       <strong><p class="fB"style="color:rgb(153,153,153);font-size:12px">CONSTRUCCIÓN/BIENES RAÍCES</p></strong>
     </div>
     <div class="col-md-12">
       <h1 class="nD"style="font-size:53px;opacity:.8">Reinventando<br>la Construcción</h1>
     </div>
     <div class="col-md-12">
       <h4 class="fL"style="line-height:18px">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
       </h4>
       <br>
       <a href="notaCompleta.html"style="color:rgb(255,180,0)"><h4>Continuar leyendo</h4></a>
     </div>
     </div>
     <hr>
   </section>
   <section style="background-color:#f2f2f2;margin-top:-20px">
     <br><br>
     <div class="container">
       <div class="col-md-12">
         <img src="http://i.ytimg.com/vi/pliCH_nLQdU/maxresdefault.jpg"style="width:100%"/>
       </div>
     <br><br>
     <div class="col-md-12">
       <br><br>
       <strong><p class="fB"style="color:rgb(153,153,153);font-size:12px">CONSTRUCCIÓN/BIENES RAÍCES</p></strong>
     </div>
     <div class="col-md-12">
       <h1 class="nD"style="font-size:53px;opacity:.8">Reinventando<br>la Construcción</h1>
     </div>
     <div class="col-md-12">
       <h4 class="fL"style="line-height:18px">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
       </h4>
       <br>
       <a href="notaCompleta.html"style="color:rgb(255,180,0)"><h4>Continuar leyendo</h4></a>
     </div>
     </div>
     <hr>
   </section>
   <section style="background-color:#f2f2f2;margin-top:-20px">
     <br><br>
     <div class="container">
       <div class="col-md-12">
         <img src="http://i.ytimg.com/vi/pliCH_nLQdU/maxresdefault.jpg"style="width:100%"/>
       </div>
     <br><br>
     <div class="col-md-12">
       <br><br>
       <strong><p class="fB"style="color:rgb(153,153,153);font-size:12px">CONSTRUCCIÓN/BIENES RAÍCES</p></strong>
     </div>
     <div class="col-md-12">
       <h1 class="nD"style="font-size:53px;opacity:.8">Reinventando<br>la Construcción</h1>
     </div>
     <div class="col-md-12">
       <h4 class="fL"style="line-height:18px">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
       </h4>
       <br>
       <a href="notaCompleta.html"style="color:rgb(255,180,0)"><h4>Continuar leyendo</h4></a>
     </div>
     </div>
     <hr>
   </section>
     <div class="col-md-12">
       <center><nav>
         <ul class="pagination"style="margin-top:0px;margin-bottom:50px">
           <li>
             <a href="#" aria-label="Previous"style="background-color:#f2f2f2">
               <span aria-hidden="true"style="color:#7d7d7d"><i class="glyphicon glyphicon-chevron-left"></i></span>
             </a>
           </li>
           <li><a href="#"style="background-color:#f2f2f2;color:#7d7d7d">1</a></li>
           <li><a href="#"style="background-color:#f2f2f2;color:#7d7d7d">2</a></li>
           <li><a href="#"style="background-color:#f2f2f2;color:#7d7d7d">...</a></li>
           <li><a href="#"style="background-color:#f2f2f2;color:#7d7d7d">100</a></li>
           <li>
             <a href="#" aria-label="Next"style="background-color:#f2f2f2">
               <span aria-hidden="true"style="color:#7d7d7d"><i class="glyphicon glyphicon-chevron-right"></i></span>
             </a>
           </li>
         </ul>
       </nav></center>
     </div>
  </div>


      {% endblock %}
