{% extends "templates/partials/base.html" %}

   {% block content %}
<section style="background-color:#f2f2f2;margin-top:-20px;">
  <div class="container">
    <br><br><br>
    <div class="col-md-6"style="margin-top:-15px">
      <p class="nD" style="font-size:35px;color:#000000">Contacto</p>
      <p class="nD"style="color:#3D3D3D;font-size:35px;line-height:45px">Estamos a tus órdenes, en breve nos pondremos en contacto contigo para birndarte toda la información que necesites.</p>
      <br>
      <p class="fB"style="font-size:12px;color:#ABB4BE">TELÉFONO</p>
      <p class="fL"style=";font-size:14px;color:#3D3D3D;margin-top:-7px">+52 (81)80 20364</p><br>
      <p class="fB"style="font-size:12px;color:#ABB4BE">CORREO ELECTRÓNICO</p>
      <p class="fL"style=";font-size:14px;color:#3D3D3D;margin-top:-7px">info@montera.mx</p>
    </div>
    <div class="col-md-6"style="margin-bottom:120px">
      <h5 class="fB"style="font-size:12px;color:#3D3D3D">NOMBRE</h5>
      <input type="text" class="form-control" aria-describedby="basic-addon1"style="background-color:transparent">
      <br>
      <div class="col-md-6"style="padding:0px">
        <h5 class="fB"style="font-size:12px;color:#3D3D3D">E-MAIL</h5>
        <input type="text" class="form-control" aria-describedby="basic-addon1"style="background-color:transparent">
      </div>
      <div class="col-md-6"style="margin-bottom:25px">
        <h5 class="fB"style="font-size:12px;color:#3D3D3D">ASUNTO</h5>
        <input type="text" class="form-control" aria-describedby="basic-addon1"style="background-color:transparent">
      </div>
      <div>
        <h5 class="fB"style="font-size:12px;color:#3D3D3D">MENSAJE</h5>
        <textarea class="form-control" style="background-color:transparent" rows="5" id="comment"></textarea>
        <button class="btn" type="button"style="background-color:rgb(255,180,0);color:white;margin-top:15px"><b style="letter-spacing:2px;font-size:14px">ENVIAR</b></button>

      </div>
    </div>
  </div>
</section>

      {% endblock %}
