{% extends "templates/partials/base.html" %}

   {% block content %}
<section style="background-color:#f2f2f2;margin-top:-20px;">
  <div class="container">
    <br><br><br>
    <div class="col-md-6">
      <p class="nD" style="font-size:53px;opacity:.8">Contacto</p>
      <p class="nD"style="opacity:.8;font-size:35px;line-height:45px">Estamos a tus órdenes, en breve nos pondremos en contacto contigo para birndarte toda la información que necesites.</p>
      <br>
      <p class="nD"style=";font-size:18px">+52 (81)80 20364</p>
      <p class="nD"style=";font-size:18px">info@montera.mx</p>
    </div>
    <div class="col-md-6"style="margin-bottom:120px">
      <h5 class="fB"style="font-size:11px;color:rgb(77,77,77)">NOMBRE</h5>
      <input type="text" class="form-control" aria-describedby="basic-addon1"style="background-color:transparent">
      <br>
      <div class="col-md-6"style="padding:0px">
        <h5 class="fB"style="font-size:11px;color:rgb(77,77,77)">E-MAIL</h5>
        <input type="text" class="form-control" aria-describedby="basic-addon1"style="background-color:transparent">
      </div>
      <div class="col-md-6"style="margin-bottom:25px">
        <h5 class="fB"style="font-size:11px;color:rgb(77,77,77)">ASUNTO</h5>
        <input type="text" class="form-control" aria-describedby="basic-addon1"style="background-color:transparent">
      </div>
      <div>
        <h5 class="fB"style="font-size:11px;color:rgb(77,77,77)">MENSAJE</h5>
        <textarea class="form-control" style="background-color:transparent" rows="5" id="comment"></textarea>
        <button class="btn" type="button"style="background-color:rgb(255,180,0);color:white;margin-top:15px"><b style="letter-spacing:2px;font-size:14px">ENVIAR</b></button>

      </div>
    </div>
  </div>
</section>

      {% endblock %}
