{% extends "templates/partials/base.html" %}

   {% block content %}
   <section style="background-color:#f2f2f2;margin-top:-20px">
     <div class="container">
       <div class="col-md-12">
         <img src="http://media24.liverpool.com.mx/web/images/products/es_MX/xl/1012535151_15p.jpg"style="width:100%;height:534px"/>
         <br><br>
       </div>
     <br><br>
     <div class="col-md-12">
       <br><br>
       <strong><p class="fB"style="color:#ABB4BE;font-size:11px;letter-spacing:0.2em">CONSTRUCCIÓN/BIENES RAÍCES</p></strong>
     </div>
     <div class="col-md-12">
       <h1 class="nD"style="font-size:25px;">Reinventando la Construcción</h1>
     </div>
     <div class="col-md-12">
       <h4 class="fL"style="line-height:14px;line-height:22px;color:#3D3D3D">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
       </h4>
       <br>
       <h4 class="fL"style="line-height:14px;line-height:22px;color:#3D3D3D">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
       </h4>
       <br>
       <h4 class="fL"style="line-height:14px;line-height:22px;color:#3D3D3D">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
       </h4>
       <br>
       <div class="col-md-6">
         <img src="http://media24.liverpool.com.mx/web/images/products/es_MX/xl/1012535151_15p.jpg"style="width:100%"/>
         <br><br>
       </div>
       <div class="col-md-6">
         <img src="http://media24.liverpool.com.mx/web/images/products/es_MX/xl/1012535151_15p.jpg"style="width:100%"/>
         <br><br>
       </div>

       <b class="fB"style="font-size:14px;color:#3D3D3D">Comparte este artículo</b><br><br>
       <a href="www.facebook.com"><img src="img/facebook.png"style="width:25px"/></a><br><br>
       <br><br><br><hr style="background-color:#808080;height:1px;margin-top:-21px"><br><br>
       <b class="nD"style="font-size:25px">Noticias Recientes</b><br><br><br>
       <div class="col-md-4">
         <img src="http://media24.liverpool.com.mx/web/images/products/es_MX/xl/1012535151_15p.jpg"style="width:100%"/>
       </div>
       <div class="col-md-4">
         <img src="http://media24.liverpool.com.mx/web/images/products/es_MX/xl/1012535151_15p.jpg"style="width:100%"/>
       </div>
       <div class="col-md-4">
         <img src="http://media24.liverpool.com.mx/web/images/products/es_MX/xl/1012535151_15p.jpg"style="width:100%"/>
       </div>
       <div class="col-md-4">
         <br>
         <strong><p class="fB"style="color:#ABB4BE;font-size:11px;letter-spacing:0.2em">CONSTRUCCIÓN/BIENES RAÍCES</p></strong>
       </div>
       <div class="col-md-4">
         <br>
         <strong><p class="fB"style="color:#ABB4BE;font-size:11px;letter-spacing:0.2em">CONSTRUCCIÓN/BIENES RAÍCES</p></strong>
       </div>
       <div class="col-md-4">
         <br>
         <strong><p class="fB"style="color:#ABB4BE;font-size:11px;letter-spacing:0.2em">CONSTRUCCIÓN/BIENES RAÍCES</p></strong>
       </div>
       <div class="col-md-4">
         <strong><h2 class="nD"style="color:#000000;margin-top:5px;opacity:.8;font-size:25px;line-height:30px">Materiales<br> Sustentables</h2></strong>
       </div>
       <div class="col-md-4">
         <strong><h2 class="nD"style="color:#000000;margin-top:5px;opacity:.8;font-size:25px;line-height:30px">Materiales<br> Sustentables</h2></strong>
       </div>
       <div class="col-md-4">
         <strong><h2 class="nD"style="color:#000000;margin-top:5px;opacity:.8;font-size:25px;line-height:30px">Materiales<br> Sustentables</h2></strong>
       </div>
       <div class="col-md-4"style="margin-top:10px">
         <strong><h6 class="fL"style="color:#000000;line-height:14px;font-size:11px;rgb(77,77,77)">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</h6></strong>
       </div>
       <div class="col-md-4"style="margin-top:10px">
         <strong><h6 class="fL"style="color:#000000;line-height:14px;font-size:11px;rgb(77,77,77)">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</h6></strong>
       </div>
       <div class="col-md-4"style="margin-top:10px">
         <strong><h6 class="fL"style="color:#000000;line-height:14px;font-size:11px;rgb(77,77,77)">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</h6></strong>
       </div>
       <center><nav>
         <ul class="pagination"style="margin-top:60px">
           <li>
             <a href="#" aria-label="Previous"style="background-color:#f2f2f2">
               <span aria-hidden="true"style="color:#a6a6a6"><i class="glyphicon glyphicon-chevron-left"></i></span>
             </a>
           </li>
           <li><a class="fL"href="#"style="background-color:#f2f2f2;color:#a6a6a6;font-size:14px">1</a></li>
           <li><a class="fL"href="#"style="background-color:#f2f2f2;color:#a6a6a6;font-size:14px">2</a></li>
           <li><a class="fL"href="#"style="background-color:#f2f2f2;color:#a6a6a6;font-size:14px">3</a></li>
           <li>
             <a href="#" aria-label="Next"style="background-color:#f2f2f2">
               <span aria-hidden="true"style="color:#a6a6a6"><i class="glyphicon glyphicon-chevron-right"></i></span>
             </a>
           </li>
         </ul>
       </nav></center>
       <br><br>
     </div>
     </div>
   </section>


      {% endblock %}
